<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Art 109 Three.js Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />

    <!-- Loading Three.js script-->
    <script src="https://ajax.googleapis.com/ajax/libs/threejs/r84/three.min.js"></script>
  </head>
  <body>
    <!-- Your web-app is https, so your scripts need to be too -->
    <h1>Art 109 Three.js Boilerplate</h1>
    <h2>
      Overview
    </h2>
    <p>
      This is an example of a basic three.js scene using an externally hosted
      verison of three.js. View the code at:<br />
    </p>
    <p class="mid">
      <a href="https://glitch.com/edit/#!/threejs-art109">This Link</a>
    </p>
    <br />
    <!--Loading scene script.-->
    <script src="/client.js"></script>
    <p>
      <br />
      To add models, textures, and additional three.js scripts, you will need to
      add them to your site. In the case of this example, I would add scripts to
      the "public" folder and models/texures to the assets section.
      <br /><br />
      Here is an example of how to load a 3D model using server side hosted
      three.js.<br />
    </p>
    <p class="mid">
      <a href="https://threejs-art109.glitch.me/gltf.html"
        >GLTF Model Example</a
      >
    </p>
  </body>
</html>
